<section class="section"><div class="container" style="max-width:640px"><h1 class="statement" style="margin-bottom:1rem">Addresses</h1>{% for address in customer.addresses %}<p>{{ address | format_address }}</p>{% endfor %}</div></section>
