<section class="section"><div class="container"><div class="rowtag"><span class="label">SOAR®</span><span class="label">{{ blog.title }}</span></div><div style="margin-top:2rem">{% for article in blog.articles %}<div class="ledger__row"><span class="label">{{ article.published_at | date: "%b %d" }}</span><a href="{{ article.url }}">{{ article.title }}</a></div>{% endfor %}</div></div></section>
